<div>This is going to be a sandbox area where we can build componenets before placing them where they will finally be used.</div>

<cart></cart>

<product product="testProduct"></product>

<br/>
<br/>
<br/>
<br/>
<br/>

<div>
Test Product Data:
<br/>
{{testProduct}}
</div>

<br/>
<br/>
<br/>
<br/>
<br/>

<div>
Products Data:
<br/>
<product ng-repeat="product in products"
         product="product"
         button-label="Add Item"
         button-action="addItem(product)"> </product>
{{products}}
</div>
